[Unit]
Description=Backup for {{ item.key }} borg repository
 
[Service]
Type=oneshot
ExecStart={{ borgmatic_binary_location }} --create --prune -c /etc/borgmatic.d/{{ item.key }}-repo.conf --verbosity 1
